.header {
  display: block;
  height: 152px;
  padding-top: 50px;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__links-logo {
    display: flex;
    align-items: center;
  }

  &__img-logo:nth-child(1) {
    width: 102px;
    height: 103px;
  }

  &__img-logo:nth-child(2) {
    margin-left: 15px;
    width: 76px;
    height: 46px;
  }

  &__menu-nav {
  }

  &__list {
    display: flex;
    justify-content: space-between;
    margin-left: 62px;
  }

  &__list-item {
    margin-left: 41px;
  }

  &__list-item:nth-child(1) {
    margin-left: 0;
  }
  &__item-link {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 12px;
    color: #fff;
    padding-bottom: 3px;
  }
  &__item-link:hover {
    border-bottom: 1px solid #fff;
  }
}

