<header class="header">
  <div class="container">
    <div class="header__inner">
      <a class="header__links-logo" href="#">
        <img class="header__img-logo" src="images/logo.png" alt="logo" />
        <img
          class="header__img-logo"
          src="images/site-name.png"
          alt="site-name"
        />
      </a>
      <nav class="header__menu-nav">
        <ul class="header__list">
          <li class="header__list-item">
            <a class="header__item-link" href="#">Home</a>
          </li>
          <li class="header__list-item">
            <a class="header__item-link" href="#">Services</a>
          </li>
          <li class="header__list-item">
            <a class="header__item-link" href="#">Technologies</a>
          </li>
          <li class="header__list-item">
            <a class="header__item-link" href="#">How to</a>
          </li>
        </ul>
      </nav>
      @@include('../../button/button.html')
    </div>
  </div>
</header>
