.btn-box {
  display: flex;
  justify-content: space-between;

  &__link:nth-child(2) {
    margin-left: 38px;
  }
  &__link {
    border: 2px solid #fff;
    padding: 16px 36px;
    border-radius: 40px;
    @extend %bold-12;
  }

  &__link:hover {
    color: #343045;
    border: 2px solid #302c42;
    background: linear-gradient(90deg, #8176af 0%, #c0b7e8 100%);
  }
}
