* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  font-family: Montserrat sans-serif;
  font-weight: 400;
  background-color: #302c42;
  margin: 0 auto;
}

.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1272px;
  padding: 0 20px;
  margin: 0 auto;
}
