<section class="form-send">
  <div class="container">
    <div class="form-send__inner">
      <div class="form-send__title-box">
        <h2 class="form-send__title">
          <strong>JOIN HYDRA</strong><br />
          <span>Let’s Build Your VR Experience</span>
        </h2>
      </div>
      <form class="form-send__form" action="#">
        <div class="form-send__box-input">
          <input
            class="form-send__input"
            type="text"
            placeholder="First Name"
          />
          <input class="form-send__input" type="text" placeholder="Last Name" />
          <input class="form-send__input" type="text" placeholder="Email" />
          <input
            class="form-send__input"
            type="text"
            placeholder="Phone Number"
          />
          <input class="form-send__input" type="text" placeholder="Subject" />
        </div>
        <textarea
          class="form-send__input-area"
          name="form-send"
          id="form-area"
          placeholder="Tell Us Something..."
        ></textarea>
        <div class="form-send__btn-box">
          <button class="btn-link" type="submit">SEND TO HYDRA</button>
        </div>
      </form>
    </div>
  </div>
</section>
