<section class="process">
  <div class="container">
    <div class="process__inner">
      <div class="process__descript">
        <h2 class="process__title">
          <strong>HOW WE BUILD</strong>WITH HYDRA VR?
        </h2>
        <div class="decor-box">
          <span class="decor-box__decor"></span>
          <img class="decor-box__arrow" src="images/arrow.svg" alt="arrow" />
        </div>
        <p class="process__text">
          Vitae sapien pellentesque habitant morbi tristique senectus et netus
          et. Feugiat nibh sed pulvinar proin gravida hendrerit lectus. Mi sit
          amet mauris commodo quis imperdiet massa tincidunt nunc. Viverra
          aliquet eget sit amet tellus. Ornare lectus sit amet est placerat in.
          Lectus magna fringilla urna porttitor rhoncus vitae.
        </p>
      </div>
      <ul class="process__list-steps">
        <img class="process__list-img-bg" src="images/process-bg.png" alt="process-bg">
        <li class="process__item">
          <div class="process__item-num-box">
            <span class="process__num">01</span>
            <h4 class="process__item-title">
              3D Conception<br />
              & Design
            </h4>
          </div>
        </li>
        <li class="process__item">
          <div class="process__item-num-box">
            <span class="process__num">02</span>
            <h4 class="process__item-title">
              Interaction<br />
              Design
            </h4>
          </div>
        </li>
        <li class="process__item">
          <div class="process__item-num-box">
            <span class="process__num">03</span>

            <h4 class="process__item-title">VR World <br />User Testing</h4>
          </div>
        </li>
        <li class="process__item">
          <div class="process__item-num-box">
            <span class="process__num">04</span>

            <h4 class="process__item-title">Hydra VR <br />Deploy</h4>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
