<section class="services">
  <div class="container">
    <div class="services__inner">
      <img class="services__bg" src="images/services-bg.png" alt="services-bg">
      <div class="services__descript">
        <h2 class="services__descript-title">
          <strong>WHY BUILD</strong>WITH HYDRA?
        </h2>
        <div class="decor-box">
          <span class="decor-box__decor"></span>
          <img class="decor-box__arrow" src="images/arrow.svg" alt="arrow" />
        </div>
        <p class="services__descript-text">
          Vitae sapien pellentesque habitant morbi tristique senectus et netus
          et. Feugiat nibh sed pulvinar proin gravida hendrerit lectus. Mi sit
          amet mauris commodo quis imperdiet massa tincidunt nunc. Viverra
          aliquet eget sit amet tellus. Ornare lectus sit amet est placerat in.
          Lectus magna fringilla urna porttitor rhoncus vitae.
        </p>
      </div>
      <div class="services__card">
        <figure class="services__card-item">
          <img
            class="services__card-img"
            src="images/services-0.png"
            alt="services-0"
          />
          <figcaption class="services__card-descript">
            <h3 class="services__card-title">SIMULATION</h3>
            <p class="services__card-text">
              Vitae sapien pellentesque habitant morbi nunc. Viverra aliquet
              porttitor rhoncus libero justo laoreet sit amet vitae.
            </p>
          </figcaption>
          <a class="btn-link" href="#">TRY IT NOW</a>
        </figure>
        <figure class="services__card-item">
          <img
            class="services__card-img"
            src="images/services-1.png"
            alt="services-0"
          />
          <figcaption class="services__card-descript">
            <h3 class="services__card-title">EDUCATION</h3>
            <p class="services__card-text">
              Vitae sapien pellentesque habitant morbi nunc. Viverra aliquet
              porttitor rhoncus libero justo laoreet sit amet vitae.
            </p>
          </figcaption>
          <a class="btn-link" href="#">TRY IT NOW</a>
        </figure>
        <figure class="services__card-item">
          <img
            class="services__card-img"
            src="images/services-2.png"
            alt="services-0"
          />
          <figcaption class="services__card-descript">
            <h3 class="services__card-title">SELF-CARE</h3>
            <p class="services__card-text">
              Vitae sapien pellentesque habitant morbi nunc. Viverra aliquet
              porttitor rhoncus libero justo laoreet sit amet vitae.
            </p>
          </figcaption>
          <a class="btn-link" href="#">TRY IT NOW</a>
        </figure>
        <figure class="services__card-item">
          <img
            class="services__card-img"
            src="images/services-3.png"
            alt="services-0"
          />
          <figcaption class="services__card-descript">
            <h3 class="services__card-title">OUTDOOR</h3>
            <p class="services__card-text">
              Vitae sapien pellentesque habitant morbi nunc. Viverra aliquet
              porttitor rhoncus libero justo laoreet sit amet vitae.
            </p>
          </figcaption>
          <a class="btn-link" href="#">TRY IT NOW</a>
        </figure>
      </div>
    </div>
  </div>
</section>
