<section class="technologies">
  <div class="container">
    <div class="technologies__inner">
      <div class="technologies__content">
        <img
          class="technologies__content-bg"
          src="images/techno-bg.png"
          alt="techo"
        />
        <h2 class="technologies__title">
          <strong>TECHNOLOGIES & HARDWARE</strong>USED BY HYDRA VR.
        </h2>
        <button class="technologies__btn" type="button">
          <span class="span">
            <svg
              width="29"
              height="16"
              fill="none"
              viewBox="0 0 29 16"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
            >
              <path
                d="M1.5 1L14 13.5L26.5 1"
                stroke="#433D60"
                stroke-opacity="1.000000"
                stroke-width="3"
                stroke-linejoin="round"
                stroke-linecap="round"
              />
            </svg>
          </span>
        </button>
      </div>
      <div class="technologies__partners">
        <img
          class="technologies__partners-img"
          src="images/unreal.png"
          alt="unreal"
        />
        <img
          class="technologies__partners-img"
          src="images/unity.png"
          alt="unity"
        />
        <img
          class="technologies__partners-img"
          src="images/oculus.png"
          alt="oculus"
        />
        <img
          class="technologies__partners-img"
          src="images/vive.png"
          alt="vive"
        />
      </div>
    </div>
  </div>
</section>
